.slideshow {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 230px;
    max-height: 230px;
    overflow: display;
    background: rgba(15, 15, 15, 1);
    border-left: 2px solid rgba(25, 25, 25, 1);
    border-right: 2px solid rgba(25, 25, 25, 1);
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.slideshow .slide {
    position: absolute;
    min-width: 10%;
    width: 50%;
    max-width: 50%;
    min-height: 235px;
    max-height: 235px;
    top: 15px;
    border-radius: 6px;
    background-size: cover;
    border: 3px solid rgba(80, 80, 80, 1);
    object-fit: cover;
}

.slide:hover {
    cursor: zoom-in;
    border: 3px solid rgba(150, 150, 150, 1);
}

.slideshow .slide-middle {
    min-width: 50%;
    max-width: 50%;
    min-height: 250px;
    max-height: 250px;
    top: 10px !important;
    z-index: 25;
}

.slideshow .slide:first-child {
    left: 62px;
    z-index: 24;
}

.slideshow .slide:last-child {
    right: 62px;
    z-index: 24;
}

.zoom {
    position: absolute;
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    z-index: 99;
    min-width: 100vw;
    height: 100%;
    left: 0;
    backdrop-filter: blur(6px);
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    cursor: zoom-out;
}

.zoom-image {
    width: 90vw;
    height: 90vh;
    background-size: cover;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.slide-ctrl-left {
    font-family: 'Consolas';
    position: absolute;
    left: 32px;
    transform: scaleX(3) scaleY(5);
    padding-top: 6px;
    cursor: pointer;
    opacity: 0.5;
}

.slide-ctrl-right {
    font-family: 'Consolas';
    position: absolute;
    right: 32px;
    transform: scaleX(3) scaleY(5);
    padding-top: 6px;
    cursor: pointer;
    opacity: 0.5;
}

.slide-ctrl-left:hover,
.slide-ctrl-right:hover {
    opacity: 1;
}
