---
import App from '../components/App.vue';
import pages from '../pages.json'

const { content = {} } = Astro.props;
---

<html>
    <head>
        <title>{content.title}</title>
        <link rel="stylesheet" href={Astro.resolve('../styles/core.css')}>
    </head>
    <body>
        <App client:load pages={pages}>
            <slot />
        </App>
    </body>
</html>