---
import MainDisplay from '../components/MainDisplay.vue';
const { content = {} } = Astro.props;
---

<html>
    <head>
        <title>{content.title}</title>
        <link rel="stylesheet" href={Astro.resolve('../styles/core.css')}>
    </head>
    <body>
        <MainDisplay content={content} client:load>
            <slot />
        </MainDisplay>
    </body>
</html>