---
import MainSearch from '../components/MainSearch.vue';
import pages from '../pages.json'

const { content = {} } = Astro.props;
const currentPage = Astro.request.url.pathname;
---

<html>
    <head>
        <title>{content.title}</title>
        <link rel="stylesheet" href={Astro.resolve('../styles/core.css')}>
        <meta name="title" content="Athena Framework Plugins">
        <meta name="description" content="Plugins for the Athena Roleplay Framework for GTA V. These are user submitted free or premium plugins to help create a Roleplay Server for GTA V.">
        <meta name="keywords" content="gtav roleplay script, gta 5 rp scripts, gta rp scripts, gta v rp server scripts, gta 5 roleplay server script, gta v roleplay ideas, gta v script, fivem esx full pack, fivem best rp servers, esx script, esx, fivem leaks hub, fivem leaks hud, fivem german leak discord">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
    </head>
    <body>
        <MainSearch client:load pages={pages}>
            <slot />
        </MainSearch>
    </body>
</html>