---
import MainSearch from '../components/MainSearch.vue';
import pages from '../pages.json'

const { content = {} } = Astro.props;
const currentPage = Astro.request.url.pathname;
---

<html>
    <head>
        <title>{content.title}</title>
        <link rel="stylesheet" href={Astro.resolve('../styles/core.css')}>
    </head>
    <body>
        <MainSearch client:load pages={pages}>
            <slot />
        </MainSearch>
    </body>
</html>